/*Weather Card*/
.weather-card {
    background-color: #2d2d2d;
    border-radius: 20px;
    padding: 25px;
    width: 300px;
    height: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .weather-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    background-color: #3c3c3c;
    padding: 6px 12px;
    border-radius: 20px;
    align-items: center;
  }

  .location {
    background-color: #3c3c3c;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .unit {
    background-color: #3c3c3c;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
  }
  
  .weather-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .weather-info h3 {
    margin: 0;
    font-size: 20px;
  }
  
  .weather-info p {
    margin: 0;
    font-size: 12px;
    color: #ccc;
  }
  
  .temperature {
    font-size: 28px;
    font-weight: bold;
  }
  
  .weather-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
  
  .sun-icon {
    width: 80px;
    height: 80px;
  }
  
  .weather-climate{
    font-size: 12px;
    margin-top: 0px
  }