body {
  background-color: #000; /* fondo exterior negro */
  margin: 0;
  font-family: 'Segoe UI', sans-serif;

  /* Centrado vertical y horizontal */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-container {
  background-color: #1e1e1e; /* color interior del contenedor */
  border-radius: 30px;
  padding: 30px;
  width: 1200px;
  height: 500px;
  margin: 40px auto;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
