body {
  background-color: #000; /* fondo exterior negro */
  margin: 0;
  font-family: 'Segoe UI', sans-serif;

  /* Centrado vertical y horizontal */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-container {
  background-color: #1e1e1e;
  border-radius: 30px;
  padding: 30px;
  width: 1200px;
  height: 600px;
  box-sizing: border-box;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}


.friendly-greetings{
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 0px;
}

.title{
  font-size: 24px;
  font-weight: bold;
  margin-top: 0px;
}

.weather-components {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.card-stack {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-shrink: 0; /* importante para que mantenga su ancho */
}


