.weather-data-card {
    background-color: #373737;
    border-radius: 25px;
    padding: 15px;
    width: 170px;
    height: 88px;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .icon-container {
    padding: 5px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
  
  .data-content h4 {
    margin: 0;
    font-size: 20px;
    color: #ccc;
  }
  
  .data-content p {
    margin: 5px 0 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .data-content span {
    font-size: 20px;
    opacity: 0.8;
  }

  .sunrise {
    width: 40px;
    height: 40px;
    display: block;
  }